PORT=3000
WHATSAPP_NUMBER=917218197119
BUSINESS_PHONE=917218197119
BUSINESS_PHONE_ALT=917841097119
BUSINESS_EMAIL=aanss182014@gmail.com
BUSINESS_ADDRESS=Jogilkar Heights, Shop No. 04, Back Side - Regal College, Nave Nagar, Mahad-Raigad, 402301
SERVICE_AREAS=Mahad, Poladpur, Mangaon
